<div class="App">
  <div class="container">
    <div class="header-container">
      <p class="header">🖼 Angular GIF TBBT Portal</p>
      <p class="sub-text">
        View your GIF collection in the metaverse ✨
      </p>
      <div class="btn-container">
        <button nz-button nzType="primary" (click)="connectWallet()" *ngIf="!publicId">connect wallet</button>
        <button nz-button nzType="primary" (click)="getGifList()" *ngIf="!PROD_GIFS">get gif</button>
      </div>
      <button nz-button nzType="primary" (click)="createGifAccount()" *ngIf="!baseAccount">create gif account</button>
    </div>
    <div class="form-container" *ngIf="publicId">
      <input nz-input placeholder="url gif link" [(ngModel)]="urlForm"/>
      <button nz-button nzType="primary" *ngIf="urlForm" (click)="sendGif()">Add GIF</button>

    </div>
    <div class="grid-container" *ngIf="publicId">
      <ng-container *ngFor="let srcImg of PROD_GIFS; let i = index">
        <nz-badge
          [nzCount]="getUpvote(srcImg)"
          [nzStyle]="{ backgroundColor: '#fff', color: '#999', boxShadow: '0 0 0 1px #d9d9d9 inset' }"
        >
        <div class="image-container" >

          <!--<img  [src]="srcImg['gifLink']" />-->
          <img [src]="srcImg['gifLink']"/>
          <div  class="only-show-on-hover">
            <button nz-button nzType="primary" (click)="upVote(i)">Upvote</button>
            <button nz-button nzType="primary" (click)="tipUser(srcImg)">Tip (SOL)</button>
            <button nz-button nzType="primary" (click)="copyUrl(srcImg['gifLink'])">copy url</button>

          </div>

        </div>
        </nz-badge>
      </ng-container>

    </div>
    <div class="footer-container">

    </div>
  </div>
</div>
